Source: gxde-testing-source
Section: utils
Priority: optional
Maintainer: gfdgd_xi <3025613752@qq.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://gitee.com/GXDE-OS/gxde-testing-source

Package: gxde-testing-source
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: GXDE Testing Source
